<div id="container">
    <mat-list>
        <mat-list-item *ngFor="let result of results">
            <button mat-raised-button class="resultButton" (click)="openPhoto(result)" >{{createPrettyString(result)}}</button>
        </mat-list-item>
    </mat-list>
</div>
