mat-list {
  max-height: calc(100% - 75px) !important;
  overflow-y: scroll;
  width: 100%;
}

.mat-list-item {
  height: auto;
  margin: 30px;
  /* max-height: auto; */
}

mat-list button {
  /* margin: 0 auto; */
  width: 100%;
  text-align: justify;
  text-align-last: center;
  font-size: 36px;
  height: 50px;
}

button {
  opacity: 0.8;
}

#container {
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  height: 100% !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 0px;
}
