<mat-toolbar id="nbar" class="mat-elevation-z5 topbar fixed-header" [ngClass]="{'squere': squered === true}">
  <span id="title"><button mat-button (click)="goHome()"><img src="assets/logo-szkoly-szare48.png" id="logo" />ZSP2 | GRADUATE</button></span>

  <span class="example-fill-remaining-space"></span>

  <mat-form-field floatLabel='never'>
    <input matInput [(ngModel)]="searchBarData.name" name="name" placeholder="Imię" (keydown)="checkIfEnter($event)" />
  </mat-form-field>

  <mat-form-field floatLabel='never'>
    <input matInput [(ngModel)]="searchBarData.surname" name="surname" placeholder="Nazwisko" (keydown)="checkIfEnter($event)"/>
  </mat-form-field>

  <mat-form-field floatLabel='never'>
    <input matInput [(ngModel)]="searchBarData.specialization" name="specialization" placeholder="Profil" (keydown)="checkIfEnter($event)"/>
  </mat-form-field>

  <mat-form-field floatLabel='never' id="yearOfSchoolCompletion">
    <input matInput [(ngModel)]="searchBarData.yearOfSchoolCompletion" name="yearOfSchoolCompletion" placeholder="Rok ukończenia szkoły" (keydown)="checkIfEnter($event)"/>
  </mat-form-field>

  <button mat-stroked-button id="searchButton" (click)="passFormData()">Szukaj</button>

  <span class="example-fill-remaining-space"></span>

</mat-toolbar>
