@import '~@angular/material/theming';
@import '../../styles.scss';

.fixed-header {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  position: fixed;
  opacity: 0.8;
  margin: 0;

  flex-direction: row;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field {
  margin: 5px;
  width: 250px;
  clear: both;
}

#yearOfSchoolCompletion {
  width: 300px !important;
}

#yearOfSchoolCompletion>input {
  width: 400px !important;
}

#title {
  clear: both;
}

.primary-color {
  color: mat-color($my-theme-primary);
}

#logo {
  margin-right: 5px;
}

.squere {
  /* top: 50%; */
  /* left: 50%; */
  width: 50vw !important;
  padding: 50px;
  height: max-content;
  flex-direction: column;
  position: static;
  margin: 0 auto;
  margin-top: 20vh;
}

#searchButton {
  font-size: 22px;
}

/* TEST */
#nbar{
  /* -webkit-transition: all 0.5s ease, top 0.3s ease, left 0s ease; */
  /* -moz-transition: all 0.5s ease, top 0.3s ease, left 0s ease; */
  /* -o-transition: all 0.5s ease, top 0.3s ease, left 0s ease; */
  /* transition: all 0.5s ease, top 0.3s ease, left 0s ease; */
  /* /\* space *\/ */

  -webkit-transition: width 0.3s, margin-top 0.4s;
  -moz-transition: width 0.3s, margin-top 0.4s;
  -o-transition: width 0.3s, margin-top 0.4s;
  transition: width 0.3s, margin-top 0.4s;

  /*   transition: top 0.5s ease; */
  /* -webkit-transition: all 0.4s linear; */
  /* -moz-transition: all 0.4s linear; */
  /* -o-transition: all 0.4s linear; */
  /* transition: all 0.4s linear; */
  /* -webkit-transition-property: top, width, left; */
  /* -moz-transition-property: top, width, left; */
  /* -o-transition-property: top, width, left; */
  /* transition-property: top, width, left; */


}
