<div [innerHTML]="videoTag"></div>
<app-search-bar (searched)="search = $event" (home)="search=null"></app-search-bar>
<app-results *ngIf="search" [search]="search"></app-results>
<div id="cappucino"><img src="assets/logo_logo.png" /></div>
