#background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  // background: url("../background.jpg");
  background-size: 100%;
  top: 0;
  left: 0;
  filter: blur(8px);
  transform: scale(1.02);
  overflow: hidden;
}

#cappucino {
  position: absolute;
  z-index: 2;
  height: 40px;
  bottom: 20px;
  right: 20px;
}

#cappucino img {
  height: inherit;
}
