@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary: mat-palette($mat-deep-purple, A700);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme($my-theme-primary,
$my-theme-accent,
$my-theme-warn);

@include angular-material-theme($my-theme);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  // background: url("../background.jpg");
  background-size: 100%;
  top: 0;
  left: 0;
  // filter: blur(0px);
  transform: scale(1.02);
}

.blurredBackground {
  filter: blur(8px);
}

// body {
//   background-image: url("/home/getor/Dokumenty/ZSP2-Graduate/zsp2-graduate-client/src/background.jpg");
// }

// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $candy-app-primary: mat-palette($mat-indigo);
// $candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $candy-app-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($candy-app-theme);
